
<html>
  <head>
    <title>Sign up now</title>
    <link rel="stylesheet" type="text/css" href="static/register.css">
  </head>
  <body>
    <div class="container">
      <h1>Sign up now</h1>
      <form action="reg" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Signup</button>
      </form>
      <p>Already have an account? <a href={{url_for("login")}}>Log in</a></p>
    </div>
  </body>
</html>
